<nav id="navbar">
	<ul id="ul_navbar_admin">
		<div id="logo">		
		<img src="../assets/hand.png" height="24px" width="24px">
		<h3>Stooper</h3>
		</div>
		<li>Lobby</li>
		<li>Work Orders</li>
		<div id="nav_avatar">
	 		<li><%=current_user.fname%> is logged in <%=image_tag @user.avatar.url(:thumb) %></li>
	 	</div>
	</ul>
</nav>
<div id="wrapper">
	<div id="admin_row_1">
		<div id="box">
		<a href="/users"> <img src= "../assets/neighbors.png" width="90" height="90"></a>
		<p>View your tenant directory and send messages.</p> 
		</div>
		<div id="box">
		<img src="../assets/credit-cards-payment.png" height="90" width="90">
		</div>
		<div id="box">
		<a href="/posts/new"> <img src="../assets/posts.png" height="90" width="90"></a>
		</div>
		
		
	</div>

	<div id="admin_row_2">
		<div id= "box">
		<img src="../assets/docs.png" height="90" width="90">
	</div>
	<div id="box">
		 <img src="../assets/hammer.png" height="90" width="90">
		</div>
		<div id="box">
		<img src="../assets/support.png" height="90" width="90">
	</div>
</div>
</div>
<%=link_to 'Log out', logout_path%>