
<p>howdy <%=@user.fname%>!</p>

<h3>What would you like to do?</h3>
<ul>
<b>Home Stuff</b>
<li>Pay rent</li>
<li><%=link_to 'Submit a maintenance request', new_job_path%></li>

<li>View building documents and resources</li>
<br>

<b>Community Stuff</b>
<li>Message a Neighbor</li>
<li>Add guests and pets</li>
<li><%=link_to 'Make an announcement', new_post_path%></li>
</ul>

<p><%#=link_to 'Edit your account', edit_user_path%></p>