<h1>Home#contact</h1>
<b>Building Address:</b>
<p>Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod</p>
<b>Building Super</b>
<p>Jane Doe</p>
<p>Phone: 212-555-5555</p>
<p>Email: Jane@jane.com</p>

<p>View building documents<p>
	<!-- ADD LINK -->