<h2>This is the lobby</h2>
<p>welcome <%#=@user.fname%></p>
<ul>
	<li>Current Work</li>
	<li>Planned work</li>
	<li>Events Calendar</li>
	<li>Bulletin Board</li>
</ul>

<div class="lobby-work">
	</div>
	<div class="lobby-posts">
		<%# @post.each do |post|%>
		<%#=post.title%>
		<%#=post.body%>
		<%#end%>
	</div>

