<nav id="navbar">
	<ul id="ul_navbar">
		<!-- logo -->
		<li><a href="#">Tenants</a></li>
		<!-- scroll downwards to see tenant features -->
		<li><a href="#">Managers</a></li>
		<!-- scroll downwards to see manager features -->
		<li><%=link_to 'Login', login_path%></li>
		<li><%=link_to 'Sign Up', new_user_path %></li>
	</ul>
</nav>
<div id="jumbotron">
	<div class="mission">
		<p><h1>Live Easy.</h1>
		A neighborly platform for tenants and building managers</p>
	</div>
	</div>
	<div id="home_text">	
		<h2>Tenants</h2>
			<p>The other day the grass was brown, now it’s green because I ain’t give up. Never surrender. The ladies always say Khaled you smell good, I use no cologne. Cocoa butter is the key. It’s on you how you want to live your life. Everyone has a choice. I pick my choice, squeaky clean. We the best.</p>
		</div>


