	<div id="jumbotron">
	<div class="mission">
		<h1>Stooper</h1>
		<p>
			A neighborly platform for tenants and building managers.
		</p>
		<li><%=link_to 'Login', login_path%></li>
		<li><%=link_to 'Sign Up', new_user_path %></li>
	</div>
</div>
<div id="home_text">
<h2>Howdy, Neighbor!</h2>
<p>
	Manage your rent, fix that finicky kitchen sink, and finally meet the guy in 6b that plays his music a little too loudly, all with one easy platform.
</p>
</div>


