<nav id="navbar">
	<ul id="ul_navbar">
		<div id="logo">
		<img src="../assets/hand.png" height="24px" width="24px">
		</div>		
	</ul>
</nav>
<div id="container">
	<div class="mission">
		<h1>Stooper</h1>
		<p>A neighborly platform for tenants and building managers.</p>
		<li><%=link_to 'Login', login_path%></li>
		<li><%=link_to 'Sign Up', new_user_path %></li>
	</div>
	</div>
	<div id="home_text">	
		<!-- future sections -->
	</div>


