<nav class="navbar navbar-fixed-top">
	<ul class="nav navbar navbar-right">
		<li><a href="#">Tenants</a></li>
		<!-- scroll downwards to see tenant features -->
		<li><a href="#">Managers</a></li>
		<!-- scroll downwards to see manager features -->
		<li><%=link_to 'Login', login_path%></li>
		<li><%=link_to 'Sign Up', new_user_path %></li>

	</ul>
	</nav> 
	<div class="jumbotron">
		<!-- <h1>Howdy!</h1> -->
	</div>
	<div class="container">	
		<div class="col-md-6">
			<h2>Live Easy</h2>
			<p>The other day the grass was brown, now it’s green because I ain’t give up. Never surrender. The ladies always say Khaled you smell good, I use no cologne. Cocoa butter is the key. It’s on you how you want to live your life. Everyone has a choice. I pick my choice, squeaky clean. We the best.</p>
		</div>
	<div class="col-md-6">
		<h2>Lend Some Sugar</h2>
		<%=link_to 'Sign up', new_user_path %>
	</div>

	<div class="col-md-6">
		<p>Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod.</p>
	</div>
</div>
</div>
	<div class="col-md-4">
		<h4>first</h4>
		<p>The first of the month is coming, we have to get money, we have no choice. It cost money to eat and they don’t want you to eat. Don’t ever play yourself. Lion! I told you all this before, when you have a swimming pool, do not use chlorine, use salt water, the healing, salt water is the healing.</p>
	</div>	
	<div class="col-md-4">
		<h4>second</h4>
		<p>The first of the month is coming, we have to get money, we have no choice. It cost money to eat and they don’t want you to eat. Don’t ever play yourself. Lion! I told you all this before, when you have a swimming pool, do not use chlorine, use salt water, the healing, salt water is the healing.</p>
	</div>
	<div class="col-md-4">
		<h4>third</h4>
		<p>The first of the month is coming, we have to get money, we have no choice. It cost money to eat and they don’t want you to eat. Don’t ever play yourself. Lion! I told you all this before, when you have a swimming pool, do not use chlorine, use salt water, the healing, salt water is the healing.</p>
	</div>
	<div class="col-md-12">
		<h4>All your properties in one place</h4>
		<p>Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod
		tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam</p>
	</div>
