<p><%=@user.fname%> is signed in</p>
<br>
<h2>All Posts</h2>
<% @posts.each do |post| %>
<%=post.title%>

<%= l Time.now, :format => "%m-%d-%Y"%>
<%= link_to 'view post', post_path(post) %>
<br>
<%end%>
