<h1>Posts#show</h1>
<!-- Show the body, title, and datecreated of a selected post -->
<%= @post.title%>
<%= @post.body%>
<%= l Time.now, :format => "%m-%d-%Y"%>
<%#= link_to 'edit this post', %>
<%= link_to 'delete post', post_path, method: :delete%>