<p>(Tenant's Unit Show)</p>
<P>display unit tenants, work orders, and documents</P>	<!--  -->
<!--   <head>
    <meta charset="utf-8" />
    <%#= wicked_pdf_stylesheet_link_tag('print', :media => :print) %>
     <%#= wicked_pdf_javascript_include_tag "number_pages" %>
  </head>
  <body class="<%= controller_name %> <%= action_name%>">
    <%#= yield %>
  </body>
    <%#= render :partial => 'shared/address.html.erb' %>

</html> -->
<%=link_to 'Logout', logout_path%>
