/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, vendor/assets/stylesheets,
 * or any plugin's vendor/assets/stylesheets directory can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the bottom of the
 * compiled file so the styles you add here take precedence over styles defined in any styles
 * defined in the other CSS/SCSS files in this directory. It is generally better to create a new
 * file per style scope.
 **/



body {
	font-family: 'Arial', sans-serif;
	color: #424242;
}
.flashes {
	color: 	#B22222;
	height: 30px;
	width: auto;

}
#navbar li{
	list-style-type: none;
	display: inline-block;
	padding-top: 1%;

}
#navbar a {
	text-decoration: none;
	color: #fff;
	display: inline-block;

}
#navbar a:hover {
	color: #CDDC39;
}

#ul_navbar {
	background-color: #113C51;
    -webkit-box-shadow: 0 3px 6px -2px rgba(0,0,0,0.4);
    box-shadow: 0 3px 6px -2px rgba(0,0,0,0.5);
	margin: 0;
	margin-top: -1%;
	margin-left: -1%;
	margin-right: -1%;
	padding-bottom: 4%;
}
#logo {
	width: 150px; 
	img {
	float: left;
	padding: 8px;
	}
}

h3 {
	color: #fff;
	display: inline-block;
}
#nav_avatar {
	float: right;
	margin-left: 80%;
	margin-top: -4%;

	img { 
	display: inline;
	margin-right: 20px;
	margin-left: 8px;
	border-radius: 15px;
	}
	li {
		color: #fff;
		font-size: 11px;
		// margin: 10px;
	}
}
#jumbotron {
	background-position: center;
	background-image: url("../assets/Red_brick.jpg");
	background-repeat: no-repeat;
	background-size: 100%;
	height: 75vh;
	text-align: center;
	margin: 0;
	margin-top: -1%;
	margin-left: -1%;
	margin-right: -1%;
}

.mission {
	height: 170px;
	width: auto;
	margin: 50px auto;
	display: inline-block;
	padding: 15px;
	padding-bottom: 35px;
	background-color: #333;
	opacity: 0.9;
	color: #fff;
	h1 {
		font-size: 36px;
	}
	p {
		font-size: 18px;
		padding-bottom: 15px;
	}
	li {
		list-style-type: none;
		display: inline;
		border: 1px solid #fff;
		border-radius: 5px;
		padding: 18px;
		margin: 5%;
	a {
		color: #fff;
		text-decoration: none;
		}
	a:hover {
		color: #CDDC39;

	}
	}
}
#form {
	width: 40%;
	height: 300px;
	margin: 40px auto;
}
#form input {
	height: 30px;
	width: 200px;
	margin: 12px;
}

.user_edit {
	height: 550px;
	width: 65%;
	margin: 35px auto;
	padding-left: 10px;
	padding-top: 10px;
	// border-radius: 20px;
	background-color: #F5F5F5;
	color: #9E9E9E;
	box-shadow: 0px 0px 20px rgba(0,0,0,0.10),
    0px 10px 20px rgba(0,0,0,0.05),
    0px 20px 20px rgba(0,0,0,0.05),
    0px 30px 20px rgba(0,0,0,0.05);
}
#fields_top {
	margin: 0;
	margin-top: -4%;
	margin-left: -1%;
	padding-bottom: 10px;
	height: 28px;
	background-color: #467386;
	color: #fff;
 p {
	padding: 5px;
	margin-left: 15px;
	}
}
#user_avatar {
	margin-top: 10px;
	margin-left: 10px;
	// border: solid 1px red;
}
#user_avatar img {
	border: solid 1px #9E9E9E;
}
#new_pic {
	margin: 8px;
}
#avatar_update {
	font-size: 12px;
	padding-bottom: 40px;

}
#user_fields {
	font-size: 13px;
	margin-left: 30px;
}
#user_fields input {
	padding: 10px;
	margin: 1%;
	width: 380px;
}
#field {
	margin-left: 10px;
}
#submit input{
	width: 100px;
	background-color: #6C9A33;
	border-radius: 20px;
	color: #fff;
	font-weight: bolder;
	font-size: 13px;
}
#wrapper {
	border: 2px solid #F5F5F5;
	width: 80%;
	height: 550px;
	margin: 20px auto;
}
#wrapper_text {
	width: 80%;
	margin-left: 2%;
	font-size: 12px;
	h4 {
		font-size: 16px;
	}
}
#table_1 {
	margin-top: 15px;
	margin-left: 2%;
	width: 20%;
	height: auto;
	float: left;
	font-size: 14px;
	font-weight: medium;
	border: 1px solid #F5F5F5;
	background-color: #F5F5F5;	
	li {
		list-style-type: none;
		padding: 10px;
		color: #424242;
	}
	a {
		text-decoration: none;
		color: #424242;
	}
	a:hover {
		color: #1565C0;
		font-weight: bolder;
	}
	
}

#table_2 {
	width: 70%;
	height: 200px;
	margin-top: 15px;
	margin-left: 3%;
	display: inline-block;
	li {
		list-style-type: none;
		padding: 10px;
		color: #424242;
	}
	a {
		text-decoration: none;
		color: #424242;
	}
	a:hover {
		color: #1565C0;
		font-weight: bolder;
	}
}
#select {
	border: 1px solid #ECEFF1;
	margin: 5px;
	border-radius: 5px;
	}
#detail {
	font-size: 11px;
	display: inline;
	margin-left: 10px;
	color: #B0BEC5;
}

#payment {

}
#work_field input{
	margin: 5px;
	font-size: 11px;
}
#note_field input {
	width: 300px;
	height: 150px;
	border: 1px solid #F5F5F5;
}	
// .login-form {
// 	width: 40%;
// 	height: 170px;
// 	margin: 40px auto;
// }

// .login-form input {
// 	height: 30px;
// 	width: 200px;
// 	margin: 12px;
// }



// .footer li{
// 	padding-top: 20px;
// 	list-style-type: none;
// 	display: inline-block;
// 	font-weight: bold;
// 	margin-left: 20%;
// 	list-style-position: center;
// }
// .footer {
// 	background-color: #333333;
// 	color: darkgrey;
// }