<!-- Every page of the site will have this basic layout -->
<!DOCTYPE html>
<html>
<head>
    <meta charset='utf-8'/>
    
    <link rel="stylesheet" type="text/css" href="css/style.css">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track' => true %>
    <%= javascript_include_tag 'application', 'data-turbolinks-track' => true %>
    <%= csrf_meta_tags %>
   <title>NeighborsApp</title>
</head>
<div class="container-FLUID">

     <%= yield%>


<!-- <div class="footer">
  <li>FAQs</li>
  <li>About</li>
  <li>Contact</li>
  </div> -->
  </div>
</body>
</html> 